section.canhcam-about-3#canhcam-about-3(bg-img="./img/about/about_icon_bg.png")
	article.about-list
		.container
			h2.tb-title.--black Tầm nhìn - Sứ mệnh
			.row
				.col-lg-6.item
					figure
						img(src="./img/about/about_icon_1.png", alt="alt").class
						figcaption
							h3 Tầm nhìn
							p Thang máy Thái Bình hoạt động và phát triển với định hướng trở thành nhà sản xuất và bảo trì thang máy, thang cuốn hàng đầu tại Việt Nam. Thang máy Thái bình luôn tiên phong trong lĩnh vực công nghệ không gian chiều thẳng đứng, cung cấp giải pháp tối ưu, phục vụ cho tính hiện đại, thẩm mỹ và an toàn của những công trình cao, không chỉ tại thị trường Việt Nam mà còn có mặt và phát triển tại nhiều thị trường khác nhau trong khu vực và châu lục.
				.col-lg-6.item
					figure
						img(src="./img/about/about_icon_2.png", alt="alt").class
						figcaption
							h3 sứ mệnh
							p Tháng máy Thái Bình không ngừng nâng cao, cập nhật và vận dụng công nghệ kỹ thuật tiên tiến, nâng cao chất lượng phục vụ và lắng nghe phản hồi từ khách hàng. Từ đó chúng tôi mong muốn tạo nên những sản phẩm mang tính bền vững, đáng tin cậy nhất cho đối tác và khách hàng.
