section.canhcam-breadcrumb-6
	article.owl-carousel.owl-theme.list-items
		.item(bg-img="./img/home/home_banner_1.png")
		.item(bg-img="./img/home/home_banner_2.png")
		.item(bg-img="./img/home/home_banner_3.png")
	.main-breadcrumb
		.container
			.row
				.col-lg-8
					ol.breadcrumb
						li.breadcrumb-item
							a(href='#')
								span.fas.fa-home
						li.breadcrumb-item.active(aria-current='page') Tin tức