section.canhcam-home-1
	article.home-list
		.container
			.row
				.col-12
					.title
						h3.sub-title sản phẩm - dịch vụ
						h2.tb-title.--black.--title-left Thang máy Thái Bình
				.col-12
					.list-img.owl-carousel.owl-theme#sync11
						.item
							.boxzoom
								img.img-fluid(src="./img/home/home_slide_1.png", alt="")
							h4 Thang máy
						.item
							.boxzoom
								img.img-fluid(src="./img/home/home_slide_1.png", alt="")
							h4 Thang máy
						.item
							.boxzoom
								img.img-fluid(src="./img/home/home_slide_1.png", alt="")
							h4 Thang máy
						.item
							.boxzoom
								img.img-fluid(src="./img/home/home_slide_1.png", alt="")
							h4 Thang máy
						.item
							.boxzoom
								img.img-fluid(src="./img/home/home_slide_1.png", alt="")
							h4 Thang máy
					.list-content.owl-carousel.owl-theme#sync22
						.item
							figure
								img(src="./img/home/slide_icon_1.png", alt="", srcset="")
								figcaption
									h5 Tư vấn - Thiết kế
						.item
							figure
								img(src="./img/home/slide_icon_2.png", alt="", srcset="")
								figcaption
									h5 Thi công - Lắp đặt
						.item
							figure
								img(src="./img/home/slide_icon_3.png", alt="", srcset="")
								figcaption
									h5 Bảo trì - Bảo dưỡng
						.item
							figure
								img(src="./img/home/slide_icon_4.png", alt="", srcset="")
								figcaption
									h5 Dịch vụ cải tạo thang
						.item
							figure
								img(src="./img/home/slide_icon_5.png", alt="", srcset="")
								figcaption
									h5 Chăm sóc khách hàng