section.canhcam-boxes-4
	.container
		.row.no-gutters
			.col-12
				h2.tb-title Trụ sở chính
			.col-lg-8
				.maps
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3065257096405!2d106.6947470142871!3d10.787818761934473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f351e20651f%3A0x12394ee868becb05!2zMTU2IMSQxrDhu51uZyBOZ3V54buFbiBWxINuIFRo4bunLCDEkGEgS2FvLCBRdeG6rW4gMSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1535436947060', frameborder='0', style='border:0', allowfullscreen='')

			.col-lg-4
				.list-address
					.address-item.active
						h4 TÒA NHÀ SENTOSA
						p 219 Thạch Lam, Phường Phú Thạnh, Quận Tân Phú, Thành phố Hồ Chí Minh
						p Tell: (028) 38.611.666
						p Fax: (028) 38.611.888
						p Trung tâm CSKH: 0917.00.14.14
					.address-item
						h4 HỒ CHÍ MINH
						p Tầng 4 - 219 Thạch Lam, Phường Phú Thạnh, Quận Tân Phú, Thành phố Hồ Chí Minh
					.address-item
						h4 ĐÀ NẴNG
						p 40 Hàn Thuyên, Phường Hòa Cường Bắc, Quận Hải Châu, Thành phố Đà Nẵng
					.address-item
						h4 HÀ NỘI
						p Nhà A1 Dự án 15B, Phường Đông Quang, Quận Cầu Giấy, Hà Nội
					.address-item
						h4 CẦN THƠ
						p 47 Trần Hoàng Na, Phường Hưng Lợi, Quận Ninh Kiều, Thành phố Cần Thơ
					.address-item
						h4 QUẢNG NINH
						p 422 Lê Lợi, Yết Kiêu, Thành phố Hạ Long, Quảng Ninh
					.address-item
						h4 NHA TRANG
						p 34 đường 19 Tháng 5, Vĩnh Điềm Trung, Thành phố Nha Trang
					.address-item
						h4 NMSX
						p Đường D2, KCN Tây Bắc Củ Chi, Thành phố Hồ Chí Minh