section.canhcam-nav-2
	.container
		.row
			.col
				ul.nav.justify-content-center.nav-pills(data-select)
					li.nav-item.active
						a.nav-link(href='#') Tin hoạt động Pacific
					li.nav-item
						a.nav-link(href='#') Tin trong ngành
					li.nav-item
						a.nav-link(href='#') Tin khác