section.canhcam-carousel-5
	.container
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							img(src='./img/bizami/partner/1.png', alt='')
					.item
						a(href='#')
							img(src='./img/bizami/partner/2.png', alt='')
					.item
						a(href='#')
							img(src='./img/bizami/partner/3.png', alt='')
					.item
						a(href='#')
							img(src='./img/bizami/partner/4.png', alt='')
					.item
						a(href='#')
							img(src='./img/bizami/partner/5.png', alt='')
					.item
						a(href='#')
							img(src='./img/bizami/partner/6.png', alt='')
