section.canhcam-news-2
	article.container
		h2.tb-title tin tức
	article.news-hot
		.container
			.row
				.col-lg-8.top-list
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_1.jpg")
							figcaption
								time 12/12/2017
								h3 Vì sao nên lựa chọn căn hộ diện tích lớn tại Giai Việt Residence?
				.col-lg-4.part-list
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_2.jpg")
							figcaption
								time 12/12/2017
								h3 Thị trường bất động sản: "Sẽ không biến động lớn đến 2019"
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_3.jpg")
							figcaption
								time 12/12/2017
								h3 Bất động sản TPHCM từ nay đến Tết Kỷ Hợi 2019: Điều gì sẽ xảy ra?
	article.news-list
		.container
			.row.d-none.d-md-block
				.col.mb-4.d-flex.align-items-center.justify-content-center.justify-content-md-end
					.btn-group
						button#list.btn.btn-outline-primary(type="button")
							i.fa.fa-th-list
							| List
						button#grid.btn.btn-outline-primary.active(type="button")
							i.fa.fa-th
							| Grid

		.container
			.row#products
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_1.jpg")
							figcaption
								time 12/12/2017
								h3 Ưu thế của thang máy gia đình công nghệ thủy lực Italia
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là những ưu thế đưa thang máy gia đình nhập khẩu Italia đứng ở vị trí top đầu trên thị trường thang máy trong nước.
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_2.jpg")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_3.jpg")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_4.jpg")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit ametitis.
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_3.jpg")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_2.jpg")
							figcaption
								time 12/12/2017
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p Lorem, ipsum dolor sit ametitis.
	include ../../pagination/p-1/index.pug