section.canhcam-news-2
	article.container
		h2.tb-title tin tức
	article.news-hot
		.container
			.row
				.col-lg-8.top-list
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_1.jpg")
							figcaption
								time 12/12/2017
								h3 Vì sao nên lựa chọn căn hộ diện tích lớn tại Giai Việt Residence?
				.col-lg-4.part-list
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_2.jpg")
							figcaption
								time 12/12/2017
								h3 Thị trường bất động sản: "Sẽ không biến động lớn đến 2019"
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_3.jpg")
							figcaption
								time 12/12/2017
								h3 Bất động sản TPHCM từ nay đến Tết Kỷ Hợi 2019: Điều gì sẽ xảy ra?
								

		.container
			.row#products
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_1.jpg")
							figcaption
								time 12/12/2017
								h3 Ưu thế của thang máy gia đình công nghệ thủy lực Italia
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là những ưu thế đưa thang máy gia đình nhập khẩu Italia đứng ở vị trí top đầu trên thị trường thang máy trong nước.
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_2.jpg")
							figcaption
								time 12/12/2017
								h3 Ngành thang máy đang thiếu hụt nhân viên kỹ thuật
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo...
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_3.jpg")
							figcaption
								time 12/12/2017
								h3 8 loại thang máy đang phổ biến nhất Việt Nam
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là những ưu thế đưa thang máy gia đình nhập khẩu
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_4.jpg")
							figcaption
								time 12/12/2017
								h3 Thị trường thang máy Việt Nam: “Miếng bánh” đầy hấp dẫn
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là những ưu thế đưa thang
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_3.jpg")
							figcaption
								time 12/12/2017
								h3 	Thị trường thang máy nội địa đang trên đà phát triển
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là những ưu thế đưa thang máy gia đình nhập khẩu Italia đứng ở vị trí top đầu trên thị
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_2.jpg")
							figcaption
								time 12/12/2017
								h3 Dòng thang máy chất lượng cao Nhật Bản sắp đổ bộ Việt Nam
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là 
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_2.jpg")
							figcaption
								time 12/12/2017
								h3 Xu hướng sử dụng thang máy năm 2018
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là 
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_2.jpg")
							figcaption
								time 12/12/2017
								h3 5 yếu tố ảnh hưởng đến giá thang máy năm 2018
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là 
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_2.jpg")
							figcaption
								time 12/12/2017
								h3 Top 10 doanh nghiệp cung cấp và lắp đặt thang máy tốt nhất Việt Nam
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là 
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_2.jpg")
							figcaption
								time 12/12/2017
								h3 Lựa chọn thang máy chung cư sao cho tốt nhất
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là 