section.canhcam-news-2
	article.container
		h2.tb-title tin tức
	article
		.container
			.row.news-hot
				.col-lg-8.top-list
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_1.jpg")
							figcaption
								h3 Vì sao nên lựa chọn căn hộ diện tích lớn tại Giai Việt Residence?
								time 12/12/2017
				.col-lg-4.part-list
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_2.jpg")
							figcaption
								h3 Thị trường bất động sản: "Sẽ không biến động lớn đến 2019"
								time 12/12/2017
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_3.jpg")
							figcaption
								h3 Bất động sản TPHCM từ nay đến Tết Kỷ Hợi 2019: Điều gì sẽ xảy ra?
								time 12/12/2017
								

		.container
			.row.news-list
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_4.jpg")
							figcaption
								h3 Ưu thế của thang máy gia đình công nghệ thủy lực Italia
								time 12/12/2017
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là những ưu thế đưa thang máy gia đình nhập khẩu Italia đứng ở vị trí top đầu trên thị trường thang máy trong nước.
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_5.jpg")
							figcaption
								h3 Ngành thang máy đang thiếu hụt nhân viên kỹ thuật
								time 12/12/2017
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo...
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_6.jpg")
							figcaption
								h3 8 loại thang máy đang phổ biến nhất Việt Nam
								time 12/12/2017
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là những ưu thế đưa thang máy gia đình nhập khẩu
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_7.jpg")
							figcaption
								h3 Thị trường thang máy Việt Nam: “Miếng bánh” đầy hấp dẫn
								time 12/12/2017
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là những ưu thế đưa thang
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_8.jpg")
							figcaption
								h3 	Thị trường thang máy nội địa đang trên đà phát triển
								time 12/12/2017
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là những ưu thế đưa thang máy gia đình nhập khẩu Italia đứng ở vị trí top đầu trên thị
				.col-sm-6.col-lg-4
					a.item(href="news-detail.html")
						figure
							img.img-fluid(src="./img/news/n_9.jpg")
							figcaption
								h3 Dòng thang máy chất lượng cao Nhật Bản sắp đổ bộ Việt Nam
								time 12/12/2017
								p Bề dày thương hiệu sau hơn nửa thế kỷ, đẳng cấp và sang trọng về thiết kế cùng hệ thống dịch vụ hoàn hảo... là 
		include ../../pagination/p-1/index.pug