section.canhcam-project-detail-2
	article.project-lists
		.container
			h1.tb-title.--orange.--title-left Khu căn hộ cao cấp Mỹ Đức
			.row
				.col-lg-8
					.list-slide.owl-carousel.owl-theme
						.item
							img(src="./img/project_detail/product_detail_slide_1.png", alt="")
						.item
							img(src="./img/project_detail/product_detail_slide_2.png", alt="")
						.item
							img(src="./img/project_detail/product_detail_slide_1.png", alt="")
				.col-lg-4
					.list-content
						.content
							.location
								p Địa chỉ: Xô Viết Nghệ Tĩnh, P.21, Q.Bình Thạnh, Tp. Hồ Chí Minh.
							.des
								p Lựa chọn thang máy Thái Bình để có được những ưu điểm vượt trội về công nghệ và kỹ thuật:
							.info
								ul
									li
										img(src="./img/project_detail/small_icon_1.png", alt="")
										span Số lượng: 12 thang máy
									li
										img(src="./img/project_detail/small_icon_2.png", alt="")
										span Vận tốc: 105 m/p
									li
										img(src="./img/project_detail/small_icon_3.png", alt="")
										span Số tầng: 22 tầng
									li
										img(src="./img/project_detail/small_icon_4.png", alt="")
										span Tải trọng: 1000 kg.