section.canhcam-news-details-1
	article.news-details
		.container
			.row
				.col-lg-8
					.news-read
						h1 Thang máy PACIFIC
						p Lựa chọn thang máy Thái Bình để có được những ưu điểm vượt trội về công nghệ và kỹ thuật, thang máy: Công nghệ thiết kế hiện đại, đẹp tinh tế, thang máy có phòng máy là sự lựa chọn của nhiều đối tác có các dự án chung cư cao cấp và nhà cao tầng.
						p Nằm ngay cầu Nguyễn Tri Phương – trục đường huyết mạch xuyên suốt với các quận trung tâm, có thể nói khu căn hộ là tâm điểm kết nối với những tiện ích hiện đại bật nhất thành phố như Khu đô thị Phú Mỹ Hưng, Hùng Vương Plaza, chợ Bến Thành, chợ An Đông, bệnh viện Pháp Việt, đại học RMIT, đại học Tôn Đức Thắng…
						p
							figure
								img.img-fluid(src="./img/news/nd_1.jpg")
						p Thang máy PACIFIC được thiết kế theo nhiều mức tải trọng và vận tốc khác nhau, thang máy có phòng đáp ứng được đa dạng nhu cầu sử dụng của khách hàng như: 
						ul
							li Tải khách
							li Tải hàng
							li Tải giường bệnh,...
						p Trong suốt 20 năm qua, thang máy PACIFIC không ngừng cải tiến, thay đổi và được khách hàng - đối tác lựa chọn vì những ưu điểm vượt trội.

						h3 Căn hộ 03PN từ những giá trị nhân văn
						p Theo thống kê thị trường bất động sản có khoảng 90% căn hộ tồn kho là các căn hộ có diện tích trên 100m2. Tuy nhiên, chủ đầu tư Giai Việt Residence vẫn mạnh dạn xây dựng các sản phẩm có diện tích 105m2 đến 108m2. Trả lời vấn đề này, ông Trần Quyết Tiến – Phó Tổng Giám đốc công ty CP Đầu tư Quốc Cường Land cho biết: Theo khảo sát của chúng tôi, tại Tp.HCM có không ít những gia đình vẫn mang đậm truyền thống văn hóa lâu đời: ông bà sống cùng con cháu, các thế hệ tiếp theo trưởng thành trong sự gắn bó với ông bà, cha mẹ. Đó là điểm khác biệt trong văn hóa của Việt Nam so với các nước phương Tây trong “thế giới phẳng” ngày hôm nay.
						p
							figure
								img.img-fluid(src="./img/news/n_6.jpg")
								figcaption Các căn hộ 3PN được thiết kế thông thoáng, dễ dàng đón nắng và gió trời tự nhiên
						p Ông Trần Quyết Tiến cho biết thêm các căn hộ 03PN tại Giai Việt Residence còn được xây dựng một cách khoa học với không gian mở tạo sự kết nối giữa các phòng, tuy nhiên vẫn giữ được sự riêng tư, thoải mái với nhu cầu đa dạng của các thành viên. Ngoài ra, ánh sáng và gió trời tự nhiên được cung cấp cho cả nhà từ những cửa sổ kính rộng lớn được bố trí với view cực đẹp nhìn về công viên hay tành phố.
						h3 Giá gốc “cực sốc”
						p Từ những ngày đầu xây dựng, khu căn hộ Giai Việt Residence luôn là “điểm nóng” của thị trường BĐS, giá bán cũng không ngừng tăng. Với lợi thế là chủ đầu tư, Quốc Cường Land đang tiếp tục “tạo sóng” khi tuyên bố các căn hộ 03PN sẽ được bán ra với giá từ 1,9 tỷ, tương đương với các căn hộ 02PN thuộc các dự án khác. Đây không chỉ là cơ hội dành cho những gia đình có đông thành viên, mong muốn được sống trong không gian rộng rãi mà còn dành cho những nhà đầu tư vốn luôn “khát khao” Giai Việt Residence.
						p Chỉ duy nhất trong 03/2016, Quốc Cường Land – đơn vị phân phối độc quyền -  đã chính thức mở bán 20 căn 03 phòng ngủ có view đẹp nhất với giá chỉ từ 1,9 tỷ đồng, bàn giao nội thất  hoàn thiện. Đặc biệt, với chương trình Tặng lộc đầu Xuân, quý khách hàng còn nhận được ưu đãi đặc biệt với tổng giá trị lên đến 500 triệu đồng. Đây là một hình thức tri ân mà chủ đầu tư muốn dành tặng cho những khách hàng luôn dành niềm tin cho những dự án của Quốc Cường Gia Lai.
						quote
							p Quốc Cường Land
						.social-networks.nav
							.nav-item
								.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
									a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
							.nav-item
								a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
							.nav-item
								.g-plusone(data-size="tall")

				.col-lg-4
					.othernews(data-fix="92", data-fix-type="initial", data-fix-change="sticky")
						h2 Tin liên quan
						hr
						.lists
							a.item(href="#")
								figure
									img(src="./img/news/n_1.jpg", alt="alt")
									figcaption
										h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
										time 12/12/2017
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.

							a.item(href="#")
								figure
									img(src="./img/news/n_2.jpg", alt="alt")
									figcaption
										h3 golf-etc EXPum dolor sit amet consecteANDS REFLECTIVE TECHNOLOGY
										time 12/12/2017
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.

							a.item(href="#")
								figure
									img(src="./img/news/n_3.jpg", alt="alt")
									figcaption
										h3 golf-etc EVE TECHNOLOGY
										time 12/12/2017
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.

							a.item(href="#")
								figure
									img(src="./img/news/n_4.jpg", alt="alt")
									figcaption
										h3 golf-etcum dolor sit amet consecteum dolor sit amet consecte EXPANDS REFLECTIVE TECHNOLOGY
										time 12/12/2017
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.

							a.item(href="#")
								figure
									img(src="./img/news/n_4.jpg", alt="alt")
									figcaption
										h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
										time 12/12/2017
										p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
