section.canhcam-nav-3
	.container
		.row
			.col
				ul.nav.justify-content-center.nav-pills(data-select bg-img="./img/nav-bg.png")
					each val in ['Tư vấn - thiết kế', 'Thi công - lắp đặt', 'Bảo trì - sửa chữa', 'Dịch vụ cải tạo thang', 'Chăm sóc khách hàng']
						li.nav-item
							a.nav-link(href="#")= val
