section.canhcam-boxes-11
	.container
		.row.mb-2
			.col
				.table-responsive
					table.table
						thead
							tr
								th(scope='col') #
								th(scope='col') Vị Trí
								th(scope='col') Last
								th(scope='col') Handle
						tbody
							tr
								th(scope='row') 1
								td Tuyển dụng Trưởng phòng PR – Marketing
									span.badge.badge-danger Mới 
								td Otto
								td @mdo
							tr
								th(scope='row') 2
								td Tuyển dụng Trưởng phòng kinh doanh
								td Thornton
								td @fat
							tr
								th(scope='row') 3
								td(colspan='2') Tuyển dụng Nhân viên kinh doanh
								td @twitter
							tr
								th(scope='row') 4
								td(colspan='2') Tuyển dụng Nhân viên lắp đặt - bảo trì thang máy
								td @twitter