section.canhcam-boxes-11
	.container
		h2.text-alight-center Tuyển dụng
		.row.mb-2
			.col
				.table-responsive
					table.table
						thead
							tr
								th(scope='col') Vị trí
								th(scope='col') Địa điểm
								th(scope='col') Thời gian
								th(scope='col') Ngày
						tbody
							tr
								
								td(style="display: flex;align-items: center") Tuyển dụng Trưởng phòng PR – Marketing
									span.badge.badge-danger Mới 
								td tp.HCM
								td Fulltime
								td 14/8/2018
							tr
								td Tuyển dụng Trưởng phòng kinh doanh
								td tp.HCM
								td Fulltime
								td 14/8/2018
							tr
								td Tuyển dụng Nhân viên kinh doanh
								td tp.HCM
								td Fulltime
								td 14/8/2018
							tr
								td Tuyển dụng Giám đốc sau bán hàng
								td tp.HCM
								td Fulltime
								td 14/8/2018
							tr
								td Tuyển dụng Nhân viên lắp đặt - bảo trì thang máy
								td tp.HCM
								td Fulltime
								td 14/8/2018