section.canhcam-boxes-11#zone-135
	.container
		h2.tb-title Vị trí Tuyển dụng
	.container
		.row.mb-2
			.col
				.table-responsive
					table.table
						thead
							tr
								th(scope='col') Vị trí
								th(scope='col') Địa điểm
								th.hidden(scope='col') Thời gian
								th.hidden(scope='col') Ngày
						tbody
							tr

								td
									a(href="job-detail.html") Tuyển dụng Trưởng phòng PR – Marketing
								td tp.HCM
								td.hidden Fulltime
								td.hidden 14/8/2018
							tr
								td
									a(href="job-detail.html") Tuyển dụng Trưởng phòng kinh doanh
								td tp.HCM
								td.hidden Fulltime
								td.hidden 14/8/2018
							tr
								td
									a(href="job-detail.html") Tuyển dụng Nhân viên kinh doanh
								td tp.HCM
								td.hidden Fulltime
								td.hidden 14/8/2018
							tr
								td
									a(href="job-detail.html") Tuyển dụng Giám đốc sau bán hàng
								td tp.HCM
								td.hidden Fulltime
								td.hidden 14/8/2018
							tr
								td
									a(href="job-detail.html") Tuyển dụng Nhân viên lắp đặt - bảo trì thang máy
								td tp.HCM
								td.hidden Fulltime
								td.hidden 14/8/2018