section.canhcam-system-1
	article.system-lists
		.container
			h1.tb-title.--orange Mạng lưới
			.row
				.col-12
					.tb-map
						iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62710.90550389737!2d106.62434410062338!3d10.778218883926883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c1c45f7aebd%3A0x4fb8a24ae83e28f0!2zQ8O0bmcgdHkgVE5ISCBUaGFuZyBNw6F5IFRow6FpIELDrG5oIC0gVHLhu6UgU-G7nyBDaMOtbmg!5e0!3m2!1svi!2s!4v1542095153548', frameborder='0', style='border:0', allowfullscreen='')
				.col-md-6.col-lg-4
					.item.active
						h2 Trụ sở chính
						.des
							ul
								li
									i.lnr.lnr-map-marker
									|  Địa chỉ: Tòa nhà Sentosa, 219 Thạch Lam,. Phú Thạnh, Q. Tân Phú
								li
									i.lnr.lnr-phone-handset
									|  Điện thoại: (028) 38 611 666
								li
									i.lnr.lnr-phone
									|  Hotline: 0917.00.14.14
				.col-md-6.col-lg-4
					.item
						h2  Chi nhánh TP.HCM
						.des
							ul
								li
									i.lnr.lnr-map-marker
									|  Địa chỉ: Tòa nhà Sentosa, 219 Thạch Lam, Phú Thạnh, Q. Tân Phú
								li
									i.lnr.lnr-phone-handset
									|  Điện thoại: (028) 38 611 666
								li
									i.lnr.lnr-phone
									|  Hotline: 0917.00.14.14
				.col-md-6.col-lg-4
					.item
						h2  Chi nhánh TP.HCM
						.des
							ul
								li
									i.lnr.lnr-map-marker
									|  Địa chỉ: Tòa nhà Sentosa, 219 Thạch Lam, Phú Thạnh, Q. Tân Phú
								li
									i.lnr.lnr-phone-handset
									|  Điện thoại: (028) 38 611 666
								li
									i.lnr.lnr-phone
									|  Hotline: 0917.00.14.14

