section.canhcam-contact-1
	article.contact-lists
		.container
			h1.tb-title.--orange Liên hệ
			.row
				.col-lg-4
					.info
						img(src="./img/logo_contact.png", alt="")
						h2 Trụ sở chính
						ul
							li
								em.lnr.lnr-map-marker
								| Địa chỉ: Tòa nhà Sentosa, 219 Thạch Lam,Phú Thạnh, Q. Tân Phú
							li
								em.lnr.lnr-phone-handset
								| Điện thoại: (028) 38 611 666
							li
								em.lnr.lnr-phone
								| Hotline: 0917.00.14.14
							li
								em.lnr.lnr-cog
								| Bảo trì sữa chữa: 1900 54 54 32
							li
								em.lnr.lnr-phone-handset
								| Fax: (028) 38 611 888
							li
								em.lnr.lnr-envelope
								| Email: contact@pacificelevator.com
							li
								em.lnr.lnr-earth
								| Website: www.pacificelevator.com
				.col-lg-8
					.wrap-form
						.form-inner
							.form-group
								label(for="") Họ
								input(type="text", name="")
							.form-group
								label(for="") Tên
								input(type="text", name="")
							.form-group
								label(for="") Điện thoại
								input(type="text", name="")
							.form-group
								label(for="") Email
								input(type="text", name="")
							.form-group
								label(for="") Công ty
								input(type="text", name="")
							.form-group
								label(for="") Tiêu đề
								input(type="text", name="")
							.form-group.qparagraph
								label(for="") Nội dung
								textarea(name="", cols="30", rows="10")
						.form-group.frm-btnwrap
							.frm-btn
								input(type="submit", value="Gửi")