section.canhcam-catalogue-1
	article.catalogues-list
		h1.tb-title.--orange catalogue
		.container
			.row.wrap-download
				.col-sm-6
					.download-title
						a(href="#", title="title") Item1
				.col-sm-6
					.download-group
						a.download(href="") Download
						a.View(href="") View
			.row.wrap-download
				.col-sm-6
					.download-title
						a(href="#", title="title") Item1Item1Item1Item1Item1Item1
				.col-sm-6
					.download-group
						a.download(href="") Download
						a.View(href="") View
			.row.wrap-download
				.col-sm-6
					.download-title
						a(href="#", title="title") Item2Item2Item2Item2Item2
				.col-sm-6
					.download-group
						a.download(href="") Download
						a.View(href="") View
