section.canhcam-service-detail-1
	article.service-lists
		.container
			h1.tb-title.--title-small Dịch vụ bảo trì sửa chữa
			.row.top-list
				.col-lg-6.order-lg-1.item
					figure
						.boxzoom
							img(src="./img/service/service_detail_2.png", alt="alt")
				.col-lg-6.item
					figure
						figcaption
							p Không chỉ cung cấp cho khách hàng những sản phẩm thang máy, thang cuốn chất lượng cao, đạt tiêu chuẩn. Thang máy Thái Bình sẽ cùng đồng hành với khách hàng, đối tác với Dịch vụ bảo trị - sửa chữa, nhằm đảm bảo thang máy ổn định về mặt hoạt động và tuổi thọ lâu dài.
			.row.bottom-list
				.col-lg-6.item
					figure
						.boxzoom
							img(src="./img/service/service_detail_1.png", alt="alt")
				.col-lg-6.item
					figure
						figcaption
							p Cùng với đội ngũ kỹ thuật được đào tạo chuyên môn cao, nhiệt huyết và tận tâm, Thang máy Thái Bình luôn trong tâm thế sẵn sàng phục vụ khách hàng trên cả nước.
