section.canhcam-gallery-3
	article.gallery-list
		.container
			h1.tb-title.--orange Thư viện
			.row
				.col-12.col-md-6.col-lg-4.item
					figure
						.boxzoom
							img(src="./img/n_1.jpg", alt="alt")
						.hidden
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
						figcaption
							h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town
				.col-12.col-md-6.col-lg-4.item
					figure
						.boxzoom
							img(src="./img/n_1.jpg", alt="alt")
						.hidden
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
						figcaption
							h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town
				.col-12.col-md-6.col-lg-4.item
					figure
						.boxzoom
							img(src="./img/n_1.jpg", alt="alt")
						.hidden
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
						figcaption
							h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town
				.col-12.col-md-6.col-lg-4.item
					figure
						.boxzoom
							img(src="./img/n_1.jpg", alt="alt")
						.hidden
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
						figcaption
							h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town
				.col-12.col-md-6.col-lg-4.item
					figure
						.boxzoom
							img(src="./img/n_1.jpg", alt="alt")
						.hidden
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
							a(href="./img/n_1.jpg")
								img(src="./img/n_1.jpg", alt="")
						figcaption
							h3 Giới thiệu đợt cuối dự án Biên Hòa Golden Town

