section.canhcam-gallery-3
	article.gallery-details
		.container
			h2.tb-title Thư viện ảnh
		.container
			.row.gallery-lists
				.col-sm-6.col-lg-4
					.item
						figure
							img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
						.boxzoom
							a(href="./img/gallery/g_2.jpg")
								img.img-fluid(src="./img/gallery/g_2.jpg", alt="Demo title")
							a(href="./img/gallery/g_3.png")
								img.img-fluid(src="./img/gallery/g_3.png", alt="Demo title")
							a(href="./img/gallery/g_4.png")
								img.img-fluid(src="./img/gallery/g_4.png", alt="Demo title")
				.col-sm-6.col-lg-4
					.item
						figure
							img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
						.boxzoom
							a(href="./img/gallery/g_1.jpg")
								img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							a(href="./img/gallery/g_1.jpg")
								img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
				.col-sm-6.col-lg-4
					.item
						figure
							img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
						.boxzoom
							a(href="./img/gallery/g_1.jpg")
								img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							a(href="./img/gallery/g_1.jpg")
								img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
				.col-sm-6.col-lg-4
					.item
						figure
							img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
						.boxzoom
							a(href="./img/gallery/g_1.jpg")
								img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							a(href="./img/gallery/g_1.jpg")
								img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
				.col-sm-6.col-lg-4
					.item
						figure
							img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
						.boxzoom
							a(href="./img/gallery/g_1.jpg")
								img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							a(href="./img/gallery/g_1.jpg")
								img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
				.col-sm-6.col-lg-4
					.item
						figure
							img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
						.boxzoom
							a(href="./img/gallery/g_1.jpg")
								img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							a(href="./img/gallery/g_1.jpg")
								img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
				.col-sm-6.col-lg-4
					.item
						figure
							img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
						.boxzoom
							a(href="./img/gallery/g_1.jpg")
								img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							a(href="./img/gallery/g_1.jpg")
								img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
				.col-sm-6.col-lg-4
					.item
						figure
							img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
						.boxzoom
							a(href="./img/gallery/g_1.jpg")
								img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
							a(href="./img/gallery/g_1.jpg")
								img.img-fluid(src="./img/gallery/g_1.jpg", alt="Demo title")
