section.canhcam-carousel-2
	.container
		h2.tb-title.--title-small.--title-left Dự án khác
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							figure.text-center
								.boxzoom
									img.img-fluid(src='./img/project_detail/product_detail_1.png', alt='')
								figcaption
									h3 Khu căn hộ cao cấp GIAI VIỆT
					.item
						a(href='#')
							figure.text-center
								.boxzoom
									img.img-fluid(src='./img/project_detail/product_detail_2.png', alt='')
								figcaption
									h3 Khu căn hộ cao cấp VINHOMES
					.item
						a(href='#')
							figure.text-center
								.boxzoom
									img.img-fluid(src='./img/project_detail/product_detail_3.png', alt='')
								figcaption
									h3 Chung cư VINACONEX
					.item
						a(href='#')
							figure.text-center
								.boxzoom
									img.img-fluid(src='./img/project_detail/product_detail_4.png', alt='')
								figcaption
									h3 Chung cư VINACONEX

