section.canhcam-boxes-3
	article.job-list
		.container
			.row
				.col-12
					h2.tb-title Quy trình tuyển dụng
			.row.info.top-part
				.col-md-4.part-list
					.item
						.item-top
							img(src="./img/job.png", alt="")
							h4 Ứng tuyển
						.item-bottom
							p.text-lead Ứng viên quan tâm tìm hiểu về các vị trí tuyển dụng làm việc tại công ty, cách thức dự tuyển tại đường link:
							p.text-lead Gửi Mẫu thông tin ứng viên hoặc Sơ yếu lý lịch tự thuật (CV) bao gồm các thông tin cá nhân, quá trình học tập, kinh nghiệm, mục tiêu, sở thích cá nhân… gửi về cho Bộ phận
							p.text-lead Tuyển dụng theo các phương pháp được hướng dẫn trong các tin đăng tuyển.
				.col-md-4.part-list
					.item
						.item-top
							img(src="./img/job.png", alt="")
							h4 Tiếp nhận và sàng lọc hồ sơ
						.item-bottom
							p.text-lead Sau khi ứng viên nộp hồ sơ, thông tin ứng tuyển. Chúng tôi sẽ tập hợp và chọn những ứng viên có những thông tin gần với yêu cầu của vị trí cần tuyển để mời tham dự vòng thi trắc nghiệm và viết luận. Những hồ sơ chưa phù hợp, chúng tôi sẽ lưu cho những vị trí và các giai đoạn về sau.
				.col-md-4.part-list
					.item
						.item-top
							img(src="./img/job.png", alt="")
							h4 Tiếp nhận và sàng lọc hồ sơ
						.item-bottom
							p.text-lead Sau khi ứng viên nộp hồ sơ, thông tin ứng tuyển. Chúng tôi sẽ tập hợp và chọn những ứng viên có những thông tin gần với yêu cầu của vị trí cần tuyển để mời tham dự vòng thi trắc nghiệm và viết luận. Những hồ sơ chưa phù hợp, chúng tôi sẽ lưu cho những vị trí và các giai đoạn về sau.
				.col-md-4.part-list
					.item
						.item-top
							img(src="./img/job.png", alt="")
							h4 Phỏng vấn
						.item-bottom
							p.text-lead Đây là lần gặp gỡ chính thức đầu tiên giữa ứng viên và Công ty. Thông qua buổi phỏng vấn này, Công ty có thêm các thông tin để đánh giá mức độ phù hợp của ứng viên dự tuyển với công việc cần tuyển.
							p.text-lead Một số yếu tố chính Công ty thường xem xét khi phỏng vấn ứng viên gồm: Khả năng giao tiếp, khả năng làm việc (độc lập hay theo nhóm), khả năng tổ chức công việc và lập kế hoạch, khả năng tư duy và giải quyết vấn đề, kiểm tra lại một số thông tin trong hồ sơ: Quá trình học tập, kinh nghiệm, kỹ năng…Trong buổi phỏng vấn này, các ứng viên cũng có thể hỏi Công ty các vấn đề liên quan. Tùy từng ứng viên và vị trí có thể có nhiều hơn một buổi phỏng vấn. Ứng viên được lựa chọn sẽ nhận được thông báo trong vòng 10 ngày kể từ ngày phỏng vấn.
				.col-md-4.part-list
					.item
						.item-top
							img(src="./img/job.png", alt="")
							h4 Thỏa thuận hợp đồng
						.item-bottom
							p.text-lead Các ứng viên được lựa chọn qua vòng phỏng vấn sẽ được hẹn tiếp một buổi đến thoả thuận về hợp đồng lao động và các vấn đề liên quan, bao gồm: loại hợp đồng, công việc, mức lương, thời gian làm việc. Mọi việc tiếp theo được thực hiện theo hợp đồng lao động và hướng dẫn của cán bộ phụ trách trực tiếp và cán bộ Nhân sự.
				.col-md-4.part-list
					.item
						.item-top
							img(src="./img/job.png", alt="")
							h4 Hoàn thiện hồ sơ sau khi trúng tuyển
						.item-bottom
							p.text-lead Sau khi nhận thông báo trúng tuyển, ứng viên cần chuẩn bị các giấy tờ sau và gửi tới cán bộ nhân sự để hoàn thiện thủ tục tiếp nhận nhân viên mới:
							p.text-lead Sơ yếu lý lịch bản gốc | Giấy khai sinh bản sao hoặc công chứng | Giấy khám sức khỏe có dấu tròn | Chứng minh thư photo có xác nhận của địa phương | Bằng tốt nghiệp bản sao | Giấy chứng nhận sinh viên (nếu có) | Bảng điểm, chứng chỉ bản sao | 02 ảnh 03 x 04, 2 ảnh 04×06.