section.canhcam-boxes-10
	.container 
		.row.mb-2
			.col-lg-8
				h1 GIÁM ĐỐC SAU BÁN HÀNG
				time 12/12/2017
				.text
					h3 Yêu cầu công việc:
					ul
						li Nam/nữ, tuổi từ 30-45
						li Tốt nghiệp ĐH chuyên ngành: QTKD, kinh tế, tài chính hoặc các chuyên ngành có liên quan.
						li Có kinh nghiệm ở vị trí TP, Giám đốc/PGĐ dịch vụ sau bán hàng ở các Công ty.
						li Có kinh nghiệm trong việc xây dựng chính sách và hệ thống dịch vụ sau bán hàng.
						li Giỏi về lĩnh vực dịch vụ sau bán hàng.
						li Có kỹ năng lãnh đạo, điều hành công việc, có khả năng giao tiếp và đàm phán tốt.
					hr
				.text
					h3 Mô tả công việc:
					ul
						li Quản lý số lượng Thang bảo hành, thang bảo trì và số lượng vật tư thang máy toàn công ty.
						li Quản lý và điều hành tất cả các hoạt động sau bán hàng của P.CSKH công ty và các VPKV của Công ty.
						li Xây dựng và đào tạo chính sách, hệ thống quy trình dịch vụ sau bán hàng trên toàn quốc đối với các sản phẩm của công ty.
						li Đảm bảo chất lượng dịch vụ sau bán hàng luôn tốt cho các sản phẩm Thang do công ty cung cấp.
						li Tổ chức thu thập, phân tích, đánh giá thông tin thị trường và đưa ra đề xuất, kiến nghị.
						li Tổ chức, triển khai thực hiện dịch vụ sau bán hàng của Công ty.
						li Tổ chức, xử lý khiếu nại khách hàng cấp Công ty.
						li Lập kế hoạch các phương án kinh doanh dịch vụ sau bán hàng.
						li Lên kế hoạch và triển khai tổ chức từng đợt CSKH để đảm bảo chất lượng sản phẩm cho công ty.
						li Đánh giá nhân viên dưới quyền.
						li Đánh giá và báo cáo theo định kỳ hoặc đột xuất kết quả hoạt động kinh doanh và dịch vụ khác cho Ban lãnh đạo.
						li Tham mưu, xây dựng các quy trình liên quan để quản lý tốt hoạt động sau bán hàng của P.CSKH, các VPKV.
						li Tham mưu cho Ban Lãnh đạo Công ty về các sáng kiến, cải tiến trong công tác quản trị, phát triển sản phẩm mới, quản lý chất lượng sản phẩm, dịch vụ sau bán hàng, bảo hành sản phẩm.
					hr
					
				.text
					h3 Mô tả công việc:
					p Sáng: 8h -12h, Chiều: 13h-17h, Từ thứ 2 đến Thứ 6 và sáng Thứ 7.
				.text
					h3 Mô tả công việc:
					ul
						li Đơn xin việc
						li Thông tin cá nhân, kinh nghiệm làm việc (CV)
						li Sơ yếu lý lịch
						li Sổ hộ khẩu
						li Giấy khám sức khỏe
						li 02 CMND
						li 02 hình 3x4
						li Bằng cấp, chứng chỉ.
						li Lưu ý: Ứng viên có thể nộp hồ sơ photo khi đi phỏng vấn và bổ sung 01 bộ hồ sơ sao y công chứng được nhận việc.
				.text
					h3 Mô tả công việc:
					ul
						li Đơn xin việc
						li Thông tin cá nhân, kinh nghiệm làm việc (CV)
						li Sơ yếu lý lịch
						li Sổ hộ khẩu
						li Giấy khám sức khỏe
						li 02 CMND
						li 02 hình 3x4
						li Bằng cấp, chứng chỉ.
						li Lưu ý: Ứng viên có thể nộp hồ sơ photo khi đi phỏng vấn và bổ sung 01 bộ hồ sơ sao y công chứng được nhận việc.
				.text
					h3 Thông tin liên hệ
					h4 Địa chỉ:
					p Phòng HCNS công ty TNHH Thang Máy Thái Bình 219 Thạch Lam, P. Phú Thạnh, Quận Tân Phú
					h4 Điện thoại:
					p 0838 611 666
					h4 Ext:
					p 1303 (gặp Ms. Lành)
					h4 Email:
					p lanh.ct@pacificelevator.com
				p
					a.btn(href="#", title="title").download.btn-lg
						i.fa.fa-download
						| Tải về 
			.col-lg-4.other
				.other-text
					h5.h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
					hr 
					.item 
						time 12/12/2017
						p
							a(href="#", title="title") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto amet hic aperiam assumenda sequi, numquam tenetur dicta soluta illo voluptatibus. Id quos quia quae fuga fugit, expedita quam laborum mollitia.
					hr 
					.item 
						time 12/12/2017
						p
							a(href="#", title="title") Lorem ipsum dolor sit amet consectetur

					hr 
					.item 
						time 12/12/2017
						p
							a(href="#", title="title") Lorem ipsum dolor sit amet consectetur

					hr 
					.item 
						time 12/12/2017
						p
							a(href="#", title="title") Lorem ipsum dolor sit amet consectetur