footer.canhcam-footer-3
	.linkfooter
		.container
			.row
				.col-md-4.address.text-center.text-md-left.col-lg-2
					h4 Trụ sở chính
					.list-group
						.list-group-item
							p 219 Thạch Lam, P.Phú Thạnh, Q.Tân Phú, Tp.Hồ Chí Minh
							p T:(028) 38 611 666
							p F:(028) 38 611 888
							p hotline:0917 001 414
				.col-md-4.col-lg-3.offset-lg-1
					h4.text-center.text-md-left.mt-5.mt-md-0 Sản phẩm
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Thang máy
						.list-group-item
							a(href="#") Thang cuốn
						.list-group-item
							a(href="#") Stairlift
						.list-group-item
							a(href="#") Homelift
						.list-group-item
							a(href="#") Dumbwaiter

				.col-md-4.col-lg-3
					h4.text-center.text-md-left.mt-5.mt-md-0 Liên kết nhanh
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Giới thiệu
						.list-group-item
							a(href="#") Dịch vụ
						.list-group-item
							a(href="#") Dự án
						.list-group-item
							a(href="#") Truyền thông
				.col-md-12.col-lg-3.subscribe
					h4.text-center.text-md-left.mt-5.mt-lg-0 Nhập email của bạn
					form.form-inline.my-2.my-lg-0.search.justify-content-center.justify-content-lg-start
						.input-group
							input.form-control(type='text', aria-label="Search", aria-describedby='basic-addon2')
							//- .input-group-append
							button.btn.btn-primary.searchbtn(type='button') Gửi


	.copyright
		.container
			.row
				.col-12
					.text-center
						p.mb-0 © 2018 Pacific Elevator Co.,Ltd. All Right Reserved. designed by cánh cam.
