section.canhcam-carousel-4
	.container
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							img(src='./img/bizami/doitac1.png', alt='')
					.item
						a(href='#')
							img(src='./img/bizami/doitac2.png', alt='')
					.item
						a(href='#')
							img(src='./img/bizami/doitac3.png', alt='')
					.item
						a(href='#')
							img(src='./img/bizami/doitac4.png', alt='')
					.item
						a(href='#')
							img(src='./img/bizami/doitac5.png', alt='')
					.item
						a(href='#')
							img(src='./img/bizami/doitac6.png', alt='')
