section.canhcam-news-details-2
	article.news-details
		.container
			.row
				.col-lg-9
					.news-read
						h1 Thang máy PACIFIC
						p Lựa chọn thang máy Thái Bình để có được những ưu điểm vượt trội về công nghệ và kỹ thuật, thang máy: Công nghệ thiết kế hiện đại, đẹp tinh tế, thang máy có phòng máy là sự lựa chọn của nhiều đối tác có các dự án chung cư cao cấp và nhà cao tầng.
						.list-slide.owl-carousel.owl-theme
							.item
								img.img-fluid(src="./img/news/nd_1.jpg")
							.item
								img.img-fluid(src="./img/news/nd_1.jpg")
							.item
								img.img-fluid(src="./img/news/nd_1.jpg")
						p Thang máy PACIFIC được thiết kế theo nhiều mức tải trọng và vận tốc khác nhau, thang máy có phòng đáp ứng được đa dạng nhu cầu sử dụng của khách hàng như:
						ul
							li Tải khách
							li Tải hàng
							li Tải giường bệnh,...
						p Trong suốt 20 năm qua, thang máy PACIFIC không ngừng cải tiến, thay đổi và được khách hàng - đối tác lựa chọn vì những ưu điểm vượt trội.
						.list-wrapper
							h3 Ưu điểm
							.list-item.owl-carousel.owl-theme
								- var index = 1
								each val, key in ['Thang máy tốc độ cao đến 2m/s: Phù hợp với công trình cao tầng, giúp giảm thiểu thời gian.','Đáp ứng nhu cầu cài đặt nhanh chóng: cài đặt, thiết lập hệ thống điều chỉnh nhanh chóng.','Board, mạch được thử nghiệm bằng công nghệ hiện đại: Đảm bảo hoạt động tốt và ổn định hơn.','Hệ thống điều khiển chuyên nghiệp: xử lý và tín hiệu tốt hơn khi sử dụng.','Dịch vụ bảo trì định kỳ hàng tháng: Đảm bảo thang máy hoạt động bền bỉ và ổn định .']
									.item
										figure
											.boxzoom
												img(src="./img/product/product_icon_"+ index++ +".png", alt="alt")
											figcaption
												p= val
						//- quote
						//- 	p Quốc Cường Land
						//- .social-networks.nav
						//- 	.nav-item
						//- 		.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
						//- 			a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
						//- 	.nav-item
						//- 		a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
						//- 	.nav-item
						//- 		.g-plusone(data-size="tall")

				.col-lg-3
					.othernews(data-fix="92", data-fix-type="initial", data-fix-change="sticky")
						h2 Tin liên quan
						hr
						.lists
							a.item(href="#")
								figure
									img(src="./img/news/n_1.jpg", alt="alt")
									figcaption
										h3 Thang cuốn TECNO
							a.item(href="#")
								figure
									img(src="./img/news/n_2.jpg", alt="alt")
									figcaption
										h3 Stairlift

							a.item(href="#")
								figure
									img(src="./img/news/n_3.jpg", alt="alt")
									figcaption
										h3 Stairlift