header
	.container
		.row.no-gutters
			.logo
				img.img-fluid(src="./img/logo.png", alt="Logo")
			.menu-wrap.ml-auto
				.row.no-gutters.top
					.hotline
						a(href="tel:917001414") 
							span.mdi.mdi-phone
							span 0917.00.14.14
					.maintenance
						p Bảo trì sửa chữa: 
							a(href="1900545432") 1900 54 54 32
					.unknown
						a(href="#")
							span.fas.fa-globe
					.social
						ul.nav
							li
								a(href="#")
									span.fab.fa-facebook-f
							li
								a(href="#")
									span.fab.fa-google-plus-g
							li
								a(href="#")
									span.fab.fa-youtube
					.language
						select
							option(value="VN") VN
							option(value="EN") EN
				.row.no-gutters.bottom
					.menu
						ul.nav
							li
								a(href="index.html") Trang chủ 
							li
								a(href="about.html") Giới thiệu
							li
								a(href="product.html") Sản phẩm
							li
								a(href="services.html") Dịch Vụ
							li
								a(href="project.html") Dự án
							li
								a(href="news.html") Truyền thông
							li
								a(href="job.html") TUyển dụng
							li
								a(href="contact.html") Liên hệ
					.search
						.toggle-menu
							.span.lnr.lnr-magnifier
						.Module
							.searchbox.show
								input
								button
									| Search
			.toggle-menu.d-lg-none
				span.fa.fa-bars