extends _layout/layout.pug
block variables
	- var title = "contact"
	- var description = "Description for contact page"
	- var bodyclass = "contact"
	- var href = "/contact.html"
block header
	include ../lib/header/h-1/index.pug
block body
	include ../lib/breadcrumb/b-5/index.pug
	include ../lib/boxes/b-4/index.pug
	include ../lib/form/f-1/index.pug
block footer
	include ../lib/footer/f-3/index.pug