extends _layout/layout.pug
block variables
	- var title = "gallery"
	- var description = "Description for gallery page"
	- var bodyclass = "gallery"
	- var href = "/gallery.html"
block header
	include ../lib/header/h-1/index.pug
block body
	include ../lib/gallery/g-3/index.pug
block footer
	include ../lib/footer/f-3/index.pug
