extends _layout/layout.pug
block variables
	- var title = "job"
	- var description = "Description for job page"
	- var bodyclass = "job"
	- var href = "/job.html"
block body
	include ../lib/boxes/b-11/index.pug
