extends _layout/layout.pug
block variables
	- var title = "job"
	- var description = "Description for job page"
	- var bodyclass = "job"
	- var href = "/job.html"
block header
	include ../lib/header/h-1/index.pug
block body
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/boxes/b-2/index.pug
	include ../lib/boxes/b-11/index.pug
block footer
	include ../lib/footer/f-3/index.pug

