extends _layout/layout.pug
block variables
	- var title = "news-detail"
	- var description = "Description for news-detail page"
	- var bodyclass = "news-detail"
	- var href = "/news-detail.html"
block body
	include ../lib/nav/n-2/index.pug
