extends _layout/layout.pug
block variables
	- var title = "project-details-2"
	- var description = "Description for project-details-2 page"
	- var bodyclass = "project-details-2"
	- var href = "/project-details-2.html"
block header
	include ../lib/header/h-7/index.pug

block body
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/project_detail/p-2/index.pug
	include ../lib/carousel/c-2/index.pug
block footer
	include ../lib/footer/f-3/index.pug
