extends _layout/layout.pug
block variables
	- var title = "service details"
	- var description = "Description for service details page"
	- var bodyclass = "service details"
	- var href = "/service-details.html"
block header
	include ../lib/header/h-1/index.pug

block body
	include ../lib/breadcrumb/b-1/index.pug

block footer
	include ../lib/footer/f-3/index.pug
