extends _layout/layout.pug
block variables
	- var title = "system"
	- var description = "Description for system page"
	- var bodyclass = "system"
	- var href = "/system.html"
block header
	include ../lib/header/h-7/index.pug
block body
	include ../lib/breadcrumb/b-5/index.pug
	include ../lib/system/s-1/index.pug
block footer
	include ../lib/footer/f-3/index.pug