extends _layout/layout.pug
block variables
	- var title = "video"
	- var description = "Description for video page"
	- var bodyclass = "video"
	- var href = "/video.html"
block body
	include ../lib/gallery/g-2/index.pug
