extends _layout/layout.pug
block variables
	- var title = "video"
	- var description = "Description for video page"
	- var bodyclass = "video"
	- var href = "/video.html"
block header
	include ../lib/header/h-7/index.pug
block body
	include ../lib/breadcrumb/b-2/index.pug
	include ../lib/nav/n-1/index.pug
	include ../lib/gallery/g-2/index.pug
block footer
	include ../lib/footer/f-3/index.pug
