section.canhcam-about-4#canhcam-about-4
	.container
		.title
			h2.tb-title.--black Giải thưởng
			p Đồng hành cùng công cuộc xây dựng đổi mới đất nước, Thanh máy Thái Bình không ngừng nỗ lực vươn lên trong sự nghiệp, mà còn tích cực tham gia các hoặt động xã hội và đạt được những thành tựu danh giá.
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							figure
								.boxzoom
									img.img-fluid(src='./img/about/about_paper_1.png', alt='')
								figcaption
									h3 2015
									p Công ty Thang máy Thái Bình đón nhận chứng nhận ISO 9001:2000
					.item
						a(href='#')
							figure
								.boxzoom
									img.img-fluid(src='./img/about/about_paper_1.png', alt='')
								figcaption
									h3 2016
									p Công ty Thang máy Thái Bình đón nhận chứng nhận ISO 9001:2000
					.item
						a(href='#')
							figure
								.boxzoom
									img.img-fluid(src='./img/about/about_paper_1.png', alt='')
								figcaption
									h3 2017
									p Công ty Thang máy Thái Bình đón nhận chứng nhận ISO 9001:2000
					.item
						a(href='#')
							figure
								.boxzoom
									img.img-fluid(src='./img/about/about_paper_1.png', alt='')
								figcaption
									h3 2018
									p Công ty Thang máy Thái Bình đón nhận chứng nhận ISO 9001:2000
					.item
						a(href='#')
							figure
								.boxzoom
									img.img-fluid(src='./img/about/about_paper_1.png', alt='')
								figcaption
									h3 2018
									p Công ty Thang máy Thái Bình đón nhận chứng nhận ISO 9001:2000
