.pages.newspager
	.modulepager
		ul.pagination
			li.PagerCurrentPageCell.active
				span.SelectedPage(title="Navigate to Page 1") 1
			li.PagerOtherPageCells
				a.ModulePager(href="#") 2
			li.PagerOtherPageCells
				a.ModulePager.NextPage(href="#") ›
			li.PagerOtherPageCells
				a.ModulePager.LastPage(href="#") »