section.canhcam-breadcrumb-1
	article.owl-carousel.owl-theme.list-items
		.item
			img(src="./img/banner/b_4.jpg", alt="")
	.main-breadcrumb
		.container
			.row
				.col-lg-8
					ol.breadcrumb
						li.breadcrumb-item
							a(href='#')
								span.fas.fa-home
						li.breadcrumb-item.active(aria-current='page') Liên hệ