section.canhcam-nav-1
	.container
		.row
			.col
				ul.nav.justify-content-center.nav-pills(data-select bg-img="./img/nav-bg.png")
					li.nav-item
						a.nav-link.active(href='#') Tin hoạt động Pacific
					li.nav-item
						a.nav-link(href='#') Tin trong ngành
					li.nav-item
						a.nav-link(href='#') Tin khác
					li.nav-item
						a.nav-link(href='#') Brochure