section.canhcam-boxes-9
	article.container
		.row
			.col-lg-8.vacancie-detail
				.text
					h2 Senior Sales Executive
				.text.row
					.item.col-lg-6
						.title
							span.mdi.mdi-web
							p Country
						.content
							p Vietnam
					.item.col-lg-6
						.title
							span.mdi.mdi-account
							p Function Sales
						.content
							p Sales / Business Development
					.item.col-lg-6
						.title
							span.mdi.mdi-map-marker
							p Location
						.content
							p Ho Chi Minh City
					.item.col-lg-6
						.title
							span.mdi.mdi-briefcase
							p Job Category
						.content
							p Real Estate / Property
					.item.col-lg-6
						.title
							span.mdi.mdi-star
							p Job Type
						.content
							p Contract
					.item.col-lg-6
						.title
							span.mdi.mdi-currency-usd
							p Salary
						.content
							p Attractive
					.item.col-lg-6
						.title
							span.mdi.mdi-school
							p Experience
						.content
							p 4+ years
					.item.col-lg-6
						.title
							span.mdi.mdi-calendar-today
							p Exp Date
						.content
							p 11/07/2018
					.item.col-lg-6
						.title
							span.mdi.mdi-tag
							p Eligibility
						.content
							p Expat and local
				.text
					h3 Job Description
					ul
						li Be responsible for individual sales target, ensure the achievement of quarter & annual target.
						li Manage sales database, contact potential customers in database.
						li Actively involved in the co-ordination and execution of sales launches.
						li Provide visit logistics, client service management including contract, payment reminder, collection, handling queries from customers.
						li Be responsible for after sales services for customers.
						li Support in sales planning, client portfolio strategy and approach on customer.
					hr
					h3 Job Requirements
					ul
						li University / College graduate.
						li At least 3 years of experience in sales, experience in large scale real estate developer or leading agency is preferred.
						li Real estate market and legislation
						li Good communication and presentation skills, in both English and Vietnamese.
						li Result oriented, passion in sales, good teamwork.
						li Active, pleasant, enthusiastic and customer oriented.
						li Good working attitude and ability to maintain a high level of professionalism and integrity.
					h3.benefit Benefits
					ul.benefit
						li Salary and Sales commission
						li Mobile phone allowance
						li Healthcare plan for you and your 01 family member
						li 15 days full paid leave a year
						li Other benefits: Outing trip, Tet gift, Mid-autumn gift, parties….
						li Training and career evolution opportunities
						li An international standard working environment
						li Trusting and empowering our employees
				a.btn(href="#") APPLY NOW
			.col-lg-4.other
				.text
					h2 Other Vacancie
					a.item(href="#")
						h3 Sale Excutive
						.add
							p 11.07.2018
							p Ho Chi Minh City
					a.item(href="#")
						h3 Sale Excutive
						.add
							p 11.07.2018
							p Ho Chi Minh City
					a.item(href="#")
						h3 Sale Excutive
						.add
							p 11.07.2018
							p Ho Chi Minh City
					a.item(href="#")
						h3 Sale Excutive
						.add
							p 11.07.2018
							p Ho Chi Minh City
