section.canhcam-boxes-2#zone-130
	.container
		h2.tb-title Tổng quan
	.container
		.row.item#com-1
			.col-lg-6
				.img(bg-img="./img/job_1.jpg")
					img.d-lg-none.d-xl-block(src="./img/job_1.jpg")
			.col-lg-6
				.text
					h4 Giới thiệu
					p Thang máy Thái Bình đã hình thành và phát triển hơn 23 năm trong lĩnh vực thang máy, thang cuốn tại Việt Nam. Qua từng giai đoạn phát triển, Thang máy Thái Bình đã có những bước tiến mạnh mẽ về khoa học, công nghệ và đạt được nhiều danh hiệu chứng nhận uy tín về chất lượng sản phẩm.
					p Không chỉ cung cấp sản phẩm và dịch vụ uy tín cho đối tác và khách hàng trong nước, Thang máy Thái Bình đã xuất khẩu sang các thị trường trong khu vực lân cận. Từ đó không ngừng nâng cao chất lượng sản phẩm dịch vụ, để ngày càng tiếp cận đến nhiều thị trường lớn
		.row.item#com-2
			.col-lg-6.order-lg-2
				.img(bg-img="./img/job_2.jpg")
					img.d-lg-none.d-xl-block(src="./img/job_2.jpg")
			.col-lg-6.order-lg-1
				.text
					h4 TẠI SAO CHỌN CHÚNG TÔI?
					p Sự thành công của chúng tôi không thể thiếu đi những nhân tài, đội ngũ nhân viên, lực lượng kỹ thuật được đào tạo bài bản, chuyên nghiệp. Đồng hành cùng Thang máy Thái Bình, bạn không chỉ nhận được những lợi ích cơ bản khi làm việc mà còn được làm việc trong môi trường chuyên nghiệp, được đào tạo bài bản về ngành thang máy, đồng nghiệp luôn thân thiện và sẵn sàng hỗ trợ khi gặp khó khăn.
					p Với xu hướng ngày càng phát triển của ngành thang máy tại Việt Nam, Thang máy Thái Bình cam kết luôn tạo nhiều cơ hội cho nguồn nhân lực không ngừng hoàn thiện và phát triển.