section.canhcam-boxes-2
	.container
		h2.tb-title Overview
	.container
		.row.item#com-1
			.col-lg-6
				.img(bg-img="./img/news/n_2.jpg")
					img.d-lg-none.d-xl-block(src="./img/news/n_2.jpg")
			.col-lg-6
				.text 
					h4 Company overview
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero molestiae eveniet maxime quaerat dolor? Culpa, placeat numquam, commodi aperiam consequuntur quis modi ab eligendi minima, tempora necessitatibus et ratione eveniet.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas hic sunt ad dicta ducimus, necessitatibus impedit maxime eaque consectetur in praesentium iure aliquam nihil blanditiis minus magni veritatis debitis illo!
		.row.item#com-2
			.col-lg-6.order-lg-2
				.img(bg-img="./img/news/n_2.jpg")
					img.d-lg-none.d-xl-block(src="./img/news/n_2.jpg")
			.col-lg-6.order-lg-1
				.text 
					h4 Why join us?
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aut ducimus quos perferendis suscipit quae quibusdam fugit recusandae tenetur laborum, nobis consequuntur voluptatum provident nisi nam, quis dolorum consectetur. Tenetur?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et harum totam dolores doloribus earum non temporibus tenetur maiores odit, neque quae commodi fugiat rerum cupiditate aspernatur magnam nulla accusantium possimus!