<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Header-Main-Menu" value="1" resourcefile="" />
      <add name="Footer-Menu-Product" value="2" resourcefile="" />
      <add name="Footer-Menu-QuickLink" value="4" resourcefile="" />
      <add name="Danh sách dự án" value="8" resourcefile="" />
      <add name="Danh sách dịch vụ" value="16" resourcefile="" />
      <add name="Danh sách dịch vụ chi tiết" value="32" resourcefile="" />
      <add name="Nav sub tin tức" value="64" resourcefile="" />
      <add name="Nav Thư viện" value="128" resourcefile="" />
    </position>

</settings>