section.canhcam-home-4(bg-img="./img/partner_bg.png")
	article.project-lists
		.container
			.row
				.col-md-4
					.title
						h3.sub-title.--white Đối tác
						h2.tb-title.--white.--title-left Khách hàng
				.col-md-8
					.list-partner.owl-carousel.owl-theme
						.item
							img(src="./img/partner_icon_1.png", alt="", srcset="")
						.item
							img(src="./img/partner_icon_2.png", alt="", srcset="")
						.item
							img(src="./img/partner_icon_3.png", alt="", srcset="")
						.item
							img(src="./img/partner_icon_4.png", alt="", srcset="")
					.list-partner.owl-carousel.owl-theme
						.item
							img(src="./img/partner_icon_5.png", alt="", srcset="")
						.item
							img(src="./img/partner_icon_6.png", alt="", srcset="")
						.item
							img(src="./img/partner_icon_7.png", alt="", srcset="")
						.item
							img(src="./img/partner_icon_8.png", alt="", srcset="")
					.list-partner.owl-carousel.owl-theme
						.item
							img(src="./img/partner_icon_9.png", alt="", srcset="")
						.item
							img(src="./img/partner_icon_10.png", alt="", srcset="")
						.item
							img(src="./img/partner_icon_11.png", alt="", srcset="")
						.item
							img(src="./img/partner_icon_12.png", alt="", srcset="")