section.canhcam-breadcrumb-7
	article.owl-carousel.owl-theme.list-items
		.item(bg-img="./img/home/home_banner_1.png")
			.title
				h2 An toàn tuyệt đối trong vận hành với tốc độ di chuyển nhanh chóng
				a.btn.btn-view
					svg
						rect
					| Xem thêm
		.item(bg-img="./img/home/home_banner_2.png")
			.title
				h2
					| Nhà sản xuất, cung cấp và lắp đặt sản phẩm thang máy, thang cuốn
					br
					| hàng đầu tại thị trường Việt Nam
				a.btn.btn-view
					svg
						rect
					| Xem thêm
		.item(bg-img="./img/home/home_banner_3.png")
			.title
				h2
					| Thang cuốn và băng tải TECNO được thiết kế phù hợp với
					br
					| các tiêu chuẩn Việt Nam và đạt chuẩn quốc tế
				a.btn.btn-view
					svg
						rect
					| Xem thêm