section.canhcam-about-1#canhcam-about-1
	article.about-list
		.container
			h2.tb-title.--black Thông diệp lãnh đạo
			.row
				.col-md-4.item.order-md-1
					figure
						.boxzoom
							img(src="./img/about/about_people.png", alt="", srcset="")
				.col-md-8.item
					blockquote
						em.fas.fa-quote-left
					figure.mb-0
						figcaption
							p Trải qua chặng đường 20 năm cho tới nay, Thang máy Thái Bình tự hào là doanh nghiệp đầu tiên cung cấp, sản xuất và lắp đặt thang máy tốc độ cao hàng đầu tại thị trường Việt Nam. Chúng tôi đã hợp tác cùng nhiều đối tác và khách hàng xuyên suốt cả nước, trở thành thương hiệu thang máy của các công trình lớn trên cả nước và một số thị trường lân cận.
							p Với nhiều năm kinh nghiệm trong ngành sản xuất thang máy, công ty Thang máy Thái Bình với tiêu chí trở thành nhà sản xuất và bảo trì thang máy, thang cuốn hàng đầu Việt Nam, chúng tôi luôn có mặt ở mọi lúc mọi nơi bằng những giải pháp tối ưu phù hợp với tình hiện đại, thẩm mỹ và an toàn cho đối tác và khách hàng.
							p Thông qua việc cung cấp sản phẩm thang máy và dịch vụ hỗ trợ trước- trong- sau bán hàng, chúng tôi mong muốn mang đến cho khách hàng những trải nghiệm ổn định, tin cậy, hiệu quả và phù hợp xu thế giúp đối tác tiết kiệm chi phí, giảm thiểu rủi ro.”
								|
								br
								| Tổng Giám đốc Công ty TNHH Thang máy Thái Bình.
							p CEO Pacific Elevator - Trần Tuấn Anh

