section.canhcam-home-3
	.container
		.title
			h3.sub-title Cơ hội
			h2.tb-title.--black.--title-left Nghề nghiệp
		.row
			.col-12.col-md-6.col-lg-3
				a.item(href="#")
					figure
						.boximg(bg-img="./img/home/home_job_1.png")
							img.img-fluid(src="./img/home/home_job_1.png", alt="alt")
						figcaption
							.textctn
								h3 Văn hoá doanh nghiệp
								p Xem thêm

			.col-12.col-md-6.col-lg-3
				a.item(href="#")
					figure
						.boximg(bg-img="./img/home/home_job_2.png")
							img.img-fluid(src="./img/home/home_job_2.png", alt="alt")
						figcaption
							.textctn
								h3 Phúc lợi cho nhân viên
								p Xem thêm
			.col-12.col-md-6.col-lg-3
				a.item(href="#")
					figure
						.boximg(bg-img="./img/home/home_job_3.png")
							img.img-fluid(src="./img/home/home_job_3.png", alt="alt")
						figcaption
							.textctn
								h3 Quy trình tuyển dụng
								p Xem thêm
			.col-12.col-md-6.col-lg-3
				a.item(href="#")
					figure
						.boximg(bg-img="./img/home/home_job_4.png")
							img.img-fluid(src="./img/home/home_job_4.png", alt="alt")
						figcaption
							.textctn
								h3 Vị trí ứng tuyển
								p Xem thêm
